<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
    </head>
    <body>
        <div>
            Options:
            <a href="{{ url_for('app.index') }}">New Publications</a> | 
            <a href="{{ url_for('app.history') }}">Publication History</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% if history %}
        <h1>History of last 100 published numbers:</h1>
        <div>
            <ul>
        {% for number in history|reverse %}
                <li>{{ number }}</li>
        {% endfor %}
            </ul>
        </div>
        {% endif %}
    </body>
</html>